.alphabet {
  min-height: 32px;
  margin: 0 auto 12px;
  max-width: calc(100% - 24px);
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-border);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  box-sizing: border-box;
}

.alphabet__letter {
  font-size: 12px;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  font-family: inherit;
  flex-grow: 1;
  color: var(--color-primary);
  cursor: pointer;
}

.alphabet__letter:hover {
  text-decoration: underline;
}

.alphabet__separator {
  border: 2px solid var(--color-text-dark);
  border-radius: 50%;
}
