.channel-button {
  margin-right: auto;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-text-dark);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0.9;
}

.channel-button.playing svg {
  fill: var(--color-text-light);
}

.channel-button svg {
  width: 40%;
  fill: var(--color-primary);
  transition: fill 0.2s ease-in-out;
}

.channel-button:hover svg {
  fill: var(--color-text-light);
}

.svg-enter-active,
.svg-leave-active {
  transition: 0.35s;
}

.svg-enter,
.svg-leave-to {
  transform: scale(1.2);
  opacity: 0.2;
}
