.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    background: color-mix(in srgb, var(--color-bg) 25%, transparent);
    z-index: 4;
}

.drawer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    background: var(--color-border);
    box-sizing: border-box;
    box-shadow: 4px 0 12px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
}

.drawer-enter-active,
.drawer-leave-active {
  transition: 0.3s;
}

.drawer-enter,
.drawer-leave-to {
  opacity: 0;
  transform: translateX(-50%);
}