.radio-slider {
  position: relative;
  max-width: calc(100% - 80px);
  min-height: 60px;
  padding: 16px 0 24px;
  margin: auto;
}

.radio-slider.border {
  border-bottom: 2px solid var(--color-border);
}

.radio-slider.loading .splide__track,
.radio-slider.loading .slider-title {
  opacity: 0;
}

.splide__pagination {
  display: none;
}

.splide__arrow:disabled {
  display: none;
}

.splide__arrow {
  background: transparent;
}

.splide__arrow svg {
  fill: var(--color-border);
}

.splide__arrow--prev {
  left: -32px;
}

.splide__arrow--next {
  right: -32px;
}

.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  color: var(--color-text-light);
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.slide--active {
  background: var(--color-primary);
  color: var(--color-text-dark);
  font-weight: bold;
}

.slide--failed {
  opacity: 0.3;
}

.slide--channel {
  border: 2px solid var(--color-primary);
  padding-left: 0;
  gap: 8px;
}

.slider-title {
  font-size: 10px;
  margin-bottom: 8px;
  text-align: center;
  color: var(--color-primary);
}

.slide-title {
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skeleton {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 76px;
  padding-top: 16px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.skeleton--title,
.skeleton--range {
  background: var(--color-primary);
  border-radius: 24px;
  animation: pulse 4s infinite;
}

.skeleton--title {
  width: 100px;
  height: 12px;
  margin-bottom: 8px;
}

.skeleton--range {
  height: 40px;
  width: 100%;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

.splide__track::before,
.splide__track::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15vw;
  height: 100%;
  pointer-events: none;
}

.splide__track::before {
  left: 0;
  background: linear-gradient(to right, #222c35 0%, transparent 100%);
  z-index: 1;
}

.splide__track::after {
  right: 0;
  background: linear-gradient(to left, #222c35 0%, transparent 100%);
  z-index: 1;
}
