[data-theme="steelblue"] {
    --color-bg: #111111;
    --color-main: #4981b2;
    --color-text-dark: #222c35;
    --color-text-light: #ffffff;
    --color-border: #141a1f;
    --color-shadow: #111213;
}

[data-theme="orangered"] {
    --color-bg: #131516;
    --color-main: #F45506;
    --color-text-dark: #000000;
    --color-text-light: #FFFFFF;
    --color-border: #1E2021;
    --color-shadow: #121417;
}

[data-theme="flag"] {
    --color-bg: #1E1E1E;
    --color-main: #D1D1D1;
    --color-text-dark: #1E1E1E;
    --color-text-light: #EEEEEE;
    --color-border: #2E2E2E;
    --color-shadow: #1C1C1C;
}

[data-theme="deeppurple"] {
    --color-bg: #212121;
    --color-main: #B980F5;
    --color-text-dark: #26202E;
    --color-text-light: #F2F0F5;
    --color-border: #121212;
    --color-shadow: #1F1F1F;
}

[data-theme="sunlit"] {
    --color-bg: #1A1F25;
    --color-main: #FED428;
    --color-text-dark: #000000;
    --color-text-light: #FFFFFF;
    --color-border: #272C35;
    --color-shadow: #1A1D23;
}
