[data-theme="steelblue"] {
  --color-bg: #111111;
  --color-main: #4981b2;
  --color-dark: #222c35;
  --color-light: #ffffff;
  --color-border: #141a1f;
  --color-shadow: #111213;
}

[data-theme="orangered"] {
  --color-bg: #131516;
  --color-main: #f45506;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-border: #1e2021;
  --color-shadow: #121417;
}

[data-theme="flag"] {
  --color-bg: #1e1e1e;
  --color-main: #d1d1d1;
  --color-dark: #1e1e1e;
  --color-light: #eeeeee;
  --color-border: #2e2e2e;
  --color-shadow: #1c1c1c;
}

[data-theme="deeppurple"] {
  --color-bg: #212121;
  --color-main: #b980f5;
  --color-dark: #26202e;
  --color-light: #f2f0f5;
  --color-border: #121212;
  --color-shadow: #1f1f1f;
}

[data-theme="sunlit"] {
  --color-bg: #1a1f25;
  --color-main: #fed428;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-border: #272c35;
  --color-shadow: #1a1d23;
}

[data-theme="lime"] {
  --color-bg: #091109;
  --color-main: #85ff0a;
  --color-dark: #0c270c;
  --color-light: #ffffff;
  --color-border: #0d1c0d;
  --color-shadow: #030703;
}